<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>ART ISSUE :: 내 전시회</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">
    <link rel="stylesheet" href="/css/company/exhiList.css">

    <style>
        .link-container{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-top: 10px;
        }

    </style>
</head>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div th:replace="~{include/header}"></div>

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>MY EXHIBITION</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="new-hits-area mb-100">
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/company/exList">내 전시회</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/company/insert">전시회 등록</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userReserveList">예약리스트</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userZZimList">찜리스트</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userMove">회원정보 수정</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userPwdUpdateMove">비밀번호 변경</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userResign">회원탈퇴</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <h4>내 전시회 리스트</h4>
                <table class="exhiListTb">
                    <tr>
                        <th colspan="2">전시회 명</th>
                        <th>예매자</th>
                        <th>판매여부</th><!-- <= && >= -->
                        <th></th><!-- <= && >= -->
                    </tr>
                    <th:block th:unless="${#lists.isEmpty(list)}" th:each="list : ${list}">
                        <tr>
                            <td><img th:src="${list.getExhibition_thumnail()}"></td>
                            <td style="text-align: left;">
                                <p><a th:href="@{/exhi/content(no = ${list.getExhibition_key()})}" th:text="${list.getExhibition_title()}"></a></p>
                                <p th:text="${(#dates.format(list.getExhibition_start_date(),'yyyy-MM-dd'))+'~'+(#dates.format(list.getExhibition_end_date(),'yyyy-MM-dd'))}"></p>
                            </td>
                            <td>
                                <p><a th:href="@{/company/reList(no = ${list.getExhibition_key()})}" th:text="${list.getCount()}"></a></p>
                            </td>
                            <td th:if="${(list.getExhibition_start_date()) le (#dates.createNow()) && (list.getExhibition_end_date()) ge (#dates.createNow())}">판매중</td><!-- <= && >= -->
                            <td th:if="${(list.getExhibition_start_date()) gt (#dates.createNow())}">판매예정</td><!-- > -->
                            <td th:if="${(list.getExhibition_end_date()) lt (#dates.createNow())}">판매종료</td><!-- < -->

                            <td>
                                <input type="button" th:onclick="|location.href='@{/company/modify(no=${list.getExhibition_key})}'|" value="수정">
                                <input type="button" th:onclick="|location.href='@{/company/delete(no=${list.getExhibition_key})}'|" value="삭제">
                            </td>
                        </tr>
                    </th:block>
                    <th:block th:if="${#lists.isEmpty(list)}" >
                        <tr>
                            <td colspan="4">등록된 전시회가 존재하지 않습니다.</td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->

<div th:replace="~{include/footer}"></div>

<!-- ##### All Javascript Script ##### -->
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
<!-- jQuery-2.2.4 js -->
<script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/bootstrap/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/bootstrap/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/bootstrap/js/active.js"></script>
</body>

</html>