<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>ART ISSUE :: 전시회 수정</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">
    <link rel="stylesheet" href="/css/exhibition/insert.css">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.css">

</head>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div th:replace="~{include/header}"></div>

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>EXHIBITION WRITE</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container insertDiv">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="new-hits-area mb-100">
                    <div sec:authorize="isAuthenticated() and hasRole('COMPANY')"  class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/company/exList">내 전시회</a>
                    </div>
                    <div sec:authorize="isAuthenticated() and hasRole('COMPANY')"  class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/company/insert">전시회 등록</a>
                    </div>
                    <div sec:authorize="isAuthenticated() and hasRole('USER')"  class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userReserveList">예약리스트</a>
                    </div>
                    <div sec:authorize="isAuthenticated() and hasRole('USER')" class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userZZimList">찜리스트</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userMove">회원정보 수정</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userPwdUpdateMove">비밀번호 변경</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userResign">회원탈퇴</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="insert-content">
                    <form action="/company/modifyOk" method="post">
                        <input type="hidden" id="member_key" name="member_key" th:value="${session.cDTO.getMember_key()}">
                        <input type="hidden" id="exhibition_key" name="exhibition_key" th:value="${exhibition.exhibition_key}">
                        <h3 style="text-align: center;">전시회 수정</h3>
                        <table class="insert-tb">
                            <tr>
                                <th>제목</th>
                                <td><input class="form-control" id="exhibition_title" name="exhibition_title" th:value="${exhibition.getExhibition_title()}" required></td>
                            </tr>
                            <tr>
                                <th>썸네일</th>
                                <td>
                                    <input class="form-control" id="exhibition_thumnail" name="exhibition_thumnail" required th:value="${exhibition.getExhibition_thumnail()}">
                                </td>
                            </tr>
                            <tr>
                                <th>시작 날짜</th>
                                <td>
                                    <input class="form-control" id="exhibition_start_date" name="exhibition_start_date" type="date" required th:field="${exhibition.exhibition_start_date}" style="width: 50%;">
                                </td>
                            </tr>
                            <tr>
                                <th>종료 날짜</th>
                                <td>
                                    <input class="form-control" id="exhibition_end_date" name="exhibition_end_date" type="date" required th:field="${exhibition.exhibition_end_date}" style="width: 50%;">
                                </td>
                            </tr>
                            <tr>
                                <th>전시회 장소</th>
                                <td>
                                    <input class="form-control" id="exhibition_place" name="exhibition_place" th:value="${exhibition.getExhibition_place()}" required>
                                </td>
                            </tr>
                            <tr>
                                <th>전시회 주소</th>
                                <td>
                                    <input class="form-control" id="exhibition_addr" name="exhibition_addr" th:value="${exhibition.getExhibition_addr()}" required>
                                </td>
                            </tr>
                            <tr>
                                <th>관람 시간</th>
                                <td>
                                    <input class="form-control" id="exhibition_view_time" name="exhibition_view_time" th:value="${exhibition.getExhibition_view_time()}" required>
                                </td>
                            </tr>
                            <tr>
                                <th>관람 연령</th>
                                <td>
                                    <select name="exhibition_view_age" th:field="${exhibition.exhibition_view_age}">
                                        <option value="전체 이용가" th:selected="${exhibition.getExhibition_view_age()} == '전체 이용가'">전체 이용가</option>
                                        <option value="만 5세 이상" th:selected="${exhibition.getExhibition_view_age()} == '만 5세 이상'">만 5세 이상</option>
                                        <option value="만 12세 이상" th:selected="${exhibition.getExhibition_view_age()} == '만 12세 이상'">만 12세 이상</option>
                                        <option value="만 15세 이상" th:selected="${exhibition.getExhibition_view_age()} == '만 15세 이상'">만 15세 이상</option>
                                        <option value="만 19세 이상" th:selected="${exhibition.getExhibition_view_age()} == '만 19세 이상'">만 19세 이상</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>티켓가격</th>
                                <td>
                                    <div id="price_form" class="price-form" th:if="${priceList != null && !priceList.isEmpty()}">
                                        <th:block th:each="price : ${priceList}">
                                            <div class="price-entry">
                                                <input type="hidden" name="price_key[]" th:value="${price.price_key}">
                                                <input class="ticket-option" name="ticket_name[]" th:value="${price.price_option}" />
                                                <input class="ticket-price" name="ticket_price[]" type="number" th:value="${price.price}" />
                                                <input type="button" class="price-btn" id="delete_price" value="가격 삭제" onclick="deletePrice(this)">
                                            </div>
                                        </th:block>
                                    </div>
                                    <div>
                                        <button type="button" class="price-btn" id="addPrice">가격 추가</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>공지사항</th>
                                <td><textarea id="exhibition_notice" name="exhibition_notice" rows="7" th:text="${exhibition.getExhibition_notice()}" style="height: 200px; resize: none;"></textarea></td>
                            </tr>
                            <tr>
                                <th>상세내용</th>
                                <td><textarea id="exhibition_detail_info" name="exhibition_detail_info" rows="7" th:text="${exhibition.getExhibition_detail_info()}" style="height: 500px; resize: none;" required></textarea></td>
                            </tr>
                            <tr>
                                <th>판매자 정보</th>
                                <td><textarea id="exhibition_seller_info" name="exhibition_seller_info" rows="7" th:text="${exhibition.getExhibition_seller_info()}" style="height: 500px; resize: none;"></textarea></td>
                            </tr>
                            <tr>
                                <th>상품 정보</th>
                                <td><textarea id="exhibition_product_info" name="exhibition_product_info" rows="7" th:text="${exhibition.getExhibition_product_info()}" style="height: 500px; resize: none;"></textarea></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center; border: none;"><button type="submit" class="btn oneMusic-btn mt-30">수정하기</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->

<div th:replace="~{include/footer}"></div>

<!-- ##### All Javascript Script ##### -->
<script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.1/"
        }
    }
</script>
<script type="module" src="/js/exhibition/exhiModify.js"></script>
<!-- jQuery-2.2.4 js -->
<script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>

<script src="/js/exhibition/exhiModify.js"></script>
<!-- Popper js -->
<script src="/bootstrap/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/bootstrap/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/bootstrap/js/active.js"></script>
</body>
</html>