<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>ART ISSUE :: 내 전시회</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">
    <link rel="stylesheet" href="/css/company/reserList.css">

    <style>
        .link-container{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-top: 10px;
        }

    </style>
</head>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div th:replace="~{include/header}"></div>

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>RESERVE LIST</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="new-hits-area mb-100">
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/company/exList">내 전시회</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userReserveList">예약리스트</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userZZimList">찜리스트</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userMove">회원정보 수정</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userPwdUpdateMove">비밀번호 변경</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userResign">회원탈퇴</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <h4>예약자 리스트</h4>
                <table class="reserListTb">
                    <tr>
                        <th>예약번호</th>
                        <th>예약자명</th>
                        <th>결제금액</th>
                        <th>연락처</th>
                        <th>예약일</th>
                    </tr>
                    <th:block th:unless="${#lists.isEmpty(list)}" th:each="list : ${list}">
                        <tr>
                            <td th:text="${list.reservation_id}"></td>
                            <td th:text="${list.member_name}"></td>
                            <td th:text="${list.reservation_price}"></td>
                            <td th:text="${list.member_phone}"></td>
                            <td th:text="${(#dates.format(list.reservation_date,'yyyy-MM-dd'))}"></td>
                        </tr>
                    </th:block>
                    <th:block th:if="${#lists.isEmpty(list)}">
                        <td colspan="5">예약자가 존재하지 않습니다.</td>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->

<div th:replace="~{include/footer}"></div>

<!-- ##### All Javascript Script ##### -->
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
<!-- jQuery-2.2.4 js -->
<script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/bootstrap/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/bootstrap/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/bootstrap/js/active.js"></script>
</body>

</html>