<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>ART ISSUE :: 공지</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">
    <link rel="stylesheet" href="/css/notice/list.css">

</head>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<div th:replace="~{include/header}"></div>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Notice</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Notice Area Start ##### -->
<div class="blog-area section-padding-100">
    <div class="container">
        <div style="width: 80%; min-width: 360px; margin: 0 auto;">
            <th:block th:if="${noticeList != null}" th:each="notice : ${noticeList}">
                <div class="noticeAll">
                    <!-- Notice Title -->
                    <div class="notice-title" style="cursor: pointer;" th:onclick="toggleContent(this)">
                        <span class="title-span" th:text="${notice.notice_title}"></span>
                        <span class="date-span" th:text="${notice.notice_date.substring(0, 10)}"></span>
                    </div>
                    <!-- Notice Cont -->
                    <div class="post-content noticeCon" style="display: none;" >
                        <div th:utext="${notice.notice_cont}"></div>
                        <div class="adminBt">
                            <a sec:authorize="isAuthenticated() and hasRole('ADMIN')" th:href="@{/notice/modify(no=${notice.notice_key})}">수정</a>
                            <a sec:authorize="isAuthenticated() and hasRole('ADMIN')" style="cursor: pointer" th:onclick="'confirmDelete(' + ${notice.notice_key} + ')'">삭제</a>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:if="${noticeList == null}">
                <p>공지사항이 존재하지 않습니다.</p>
            </th:block>

            <div style="text-align: right;">
                <input type="button" class="btn oneMusic-btn mt-30" value="공지사항 등록" th:onclick="noticeInsert()" sec:authorize="isAuthenticated() and hasRole('ADMIN')">
            </div>
        </div>
    </div>
</div>

<script>
    function toggleContent(titleElement) {
        var contentElement = titleElement.nextElementSibling;

        if (contentElement && contentElement.classList.contains('post-content')) {
            if (contentElement.style.display === 'none') {
                contentElement.style.display = 'block';
            } else {
                contentElement.style.display = 'none';
            }
        }
    }

    function noticeInsert() {
        window.location.href = '/notice/insert';
    }

    function confirmDelete(noticeKey) {
        if (confirm('정말 삭제하시겠습니까?')) {
            window.location.href = '/notice/delete?no=' + noticeKey;
        }
    }
</script>


<!-- ##### Footer Area Start ##### -->
<div th:replace="~{include/footer}"></div>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/bootstrap/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/bootstrap/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/bootstrap/js/active.js"></script>
</body>



</html>