<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="/" class="nav-brand"><img src="/bootstrap/img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/exhi/list">Exhibition</a></li>
                                <li><a href="/notice">Notice</a></li>
                                <li sec:authorize="isAuthenticated() and hasRole('USER')"><a href="/userMove">MyPage</a>
                                    <ul class="dropdown" >
                                        <li><a href="/userReserveList">예약리스트</a></li>
                                        <li><a href="/userZZimList">찜한전시회</a></li>
                                        <li><a href="/userMove">내 정보</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                </li>
                                <li sec:authorize="isAuthenticated() and hasRole('COMPANY')"><a href="/userMove">MyPage</a>
                                    <ul class="dropdown">
                                        <li><a href="/company/exList">내 전시회</a></li>
                                        <li><a href="/userMove">내 정보</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <!-- Login/Register & Cart Button -->
                            <div class="login-register-cart-button d-flex align-items-center">
                                <!-- Login/Register -->
                                <div th:if="${not #authorization.expression('isAuthenticated()')}" class="login-register-btn mr-50">
                                    <a href="/login" style="margin-right: 20px;">Login</a>
                                    <a href="/join">Join</a>
                                </div>
                                <!-- 로그인 후 -->
                                <div sec:authorize="isAuthenticated() and hasRole('USER')" class="login-register-btn mr-50">
                                    <th:block th:if="${session.mDTO != null}">
                                        <a th:if="${session.mDTO.member_pwd == '-'}" th:href="@{/my-page/userModify}" alt="MY PAGE">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 20 20" style="color: #fff;">
                                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                            </svg>
                                            [[${session.mDTO.member_name}]] 님
                                        </a>
                                        <a th:if="${session.mDTO.member_pwd != '-'}" th:href="@{/my-page/user}" alt="MY PAGE">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 20 20" style="color: #fff;">
                                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                            </svg>
                                            [[${session.mDTO.member_name}]] 님
                                        </a>
                                    </th:block>
                                </div>
                                <div sec:authorize="isAuthenticated() and hasRole('COMPANY')" class="login-register-btn mr-50">
                                    <th:block th:if="${session.cDTO != null}">
                                        <a th:href="@{/my-page/user}" alt="MY PAGE">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-building" viewBox="0 0 20 20" style="color: #fff;">
                                                <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                                                <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z"/>
                                            </svg>
                                            [[${session.cDTO.member_nickname}]]
                                        </a>
                                    </th:block>
                                </div>
                                <div sec:authorize="isAuthenticated() and hasRole('ADMIN')" class="login-register-btn mr-50">
                                    <a th:href="@{/my-page/user}" alt="MY PAGE">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill-lock" viewBox="0 0 20 20" style="color: #fff;">
                                            <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5v-1a2 2 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693Q8.844 9.002 8 9c-5 0-6 3-6 4m7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1"/>
                                        </svg>
                                        관리자
                                    </a>
                                </div>

                                <div  class="login-register-btn mr-50" sec:authorize="isAuthenticated()">
                                    <a href="/logout" alt="LOGOUT">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 20 20" style="color: #fff;">
                                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </div>
    <script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>

    <script th:inline="javascript">

        var session = /*[[${session}]]*/ {};


        if(session != {}){
            if(session.aDTO.member_id === 'admin') {
                createChat();

            }
        }

        function createChat() {
            //roomId값을 name으로 parameter 전송하여, /chat/create post 호출

            $.ajax({
                url: '/chat/createAdmin',
                type: 'POST',
                data: {name: 'ttt'},
                success: function (response) {
                    const id = response.roomId
                    connect()
                },
                error: function (xhr, status, error) {
                    console.error('Error creating room:', error);
                }
            });
        }

        function connect() {
            // roomId ajax call get

            // const roomId = document.getElementById('roomId').value;
            // const sender = document.getElementById('sender').value;
            const sender = 'rhksflawk';
            const roomId = 'admin_noti'
            socket = new WebSocket(`wss://team2.artissue.click/ws/chat/${roomId}`);

            socket.onopen = function() {
                const joinMessage = {
                    type: "JOIN",
                    sender: sender,
                    message: `${sender} joined the room`
                };
                socket.send(JSON.stringify(joinMessage));
            };

            socket.onmessage = function(event) {
                const message = JSON.parse(event.data);

                console.log(message)

                const obj = JSON.parse(message.message)
                if(obj.type == 'join'){
                    if(obj.sender != 'rhksflawk'){
                        if(confirm(obj.sender + 'enter, chat open?')){
                            location.href = "/chat/rooms?id=" + obj.roomId;
                        }
                    }
                }

                //document.getElementById('messages').innerHTML += `<div><b>${message.sender}:</b> ${message.message}</div>`;
            }


            socket.onclose = function(){
                console.log('close');
            }

            socket.onerror = function(error){
                console.log('error',error)
            }
        }


    </script>
</header>
<!-- ##### Header Area End ##### -->
</body>
</html>