<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="/" class="nav-brand"><img src="/bootstrap/img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/albums-store">Albums</a></li>
                                <li><a href="/exhi/list">Exhibition</a></li>
                                <li><a href="/notice">Notice</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li sec:authorize="isAuthenticated() and hasRole('USER')"><a href="#">MyPage</a>
                                    <ul class="dropdown" >
                                        <li><a href="#">예약리스트</a></li>
                                        <li><a href="#">찜한전시회</a></li>
                                        <li><a href="#">내 정보</a></li>
                                        <li><a href="#">Logout</a></li>
                                    </ul>
                                </li>
                                <li sec:authorize="isAuthenticated() and hasRole('COMPANY')"><a href="#">MyPage</a>
                                    <ul class="dropdown" >
                                        <li><a href="#">예약리스트</a>
                                            <ul class="dropdown">
                                                <li><a href="#">내 전시회</a></li>
                                                <li><a href="#">예매 내역</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">찜한전시회</a></li>
                                        <li><a href="#">내 정보</a></li>
                                        <li><a href="#">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <!-- Login/Register & Cart Button -->
                            <div class="login-register-cart-button d-flex align-items-center">
                                <!-- Login/Register -->
                                <div th:if="${not #authorization.expression('isAuthenticated()')}" class="login-register-btn mr-50">
                                    <a href="/login">Login / Join</a>
                                </div>
                                <!-- 로그인 후 -->
                                <div sec:authorize="isAuthenticated() and hasRole('USER')" class="login-register-btn mr-50">
                                    <th:block th:if="${session.mDTO != null}">
                                        <a th:if="${session.mDTO.member_pwd == '-'}" th:href="@{/my-page/userModify}">
                                            [[${session.mDTO.member_name}]] 님!
                                        </a>
                                        <a th:if="${session.mDTO.member_pwd != '-'}" th:href="@{/my-page/user}">
                                            [[${session.mDTO.member_name}]] 님!
                                        </a>
                                    </th:block>
                                    <a href="/logout">Logout</a>
                                </div>
                                <div sec:authorize="isAuthenticated() and hasRole('COMPANY')" class="login-register-btn mr-50">
                                    <th:block th:if="${session.cDTO != null}">
                                        <a th:href="@{/my-page/user}">
                                            [[${session.cDTO.member_name}]] 님!
                                        </a>

                                    </th:block>
                                    <a href="/logout">Logout</a>
                                </div>

                                <!-- Cart Button -->
                                <div class="cart-btn">
                                    <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->
</body>
</html>