.exhiListTb{
    border-top: 2px solid #787878;
    width: 100%;
    border-spacing: 0;
}
.exhiListTb tr{
    border-bottom: 1px solid #c8c8c8;
}
.exhiListTb tr:hover{
    background-color: #eeeeee;
}
.exhiListTb th{
    text-align: center;
    font-weight: normal;
    padding: 10px;
}
.exhiListTb td{
    padding: 10px;
    text-align: center;

    .MD-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.exhiListTb td a{
    font-size: 18px;
    text-decoration: none;
}
.exhiListTb img{
    width: 50px;
    height: 70px;
}
.exhiListTb p{
    margin: 0;
}

.md-btn{
    width: 100%;
    margin: 5px;
    background-color: #fff;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    color: #000;
    border: 1px solid #000;
}

.md-btn:hover, .md-btn:focus{
    font-weight: 700;
    background-color: #000000;
    color: #fff;
}