<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.artissue.model.MemberDTO" alias="mDTO"/> <!-- 회원 -->
        <typeAlias type="com.artissue.model.ChatDTO" alias="chatDTO"/> <!-- 문의채팅 -->
    </typeAliases>
</configuration>