<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.artissue.model.MemberDTO" alias="mDTO"/> <!-- 회원 -->
        <typeAlias type="com.artissue.model.ChatDTO" alias="chatDTO"/> <!-- 문의채팅 -->
        <typeAlias type="com.artissue.model.NoticeDTO" alias="noticeDTO"/> <!-- 공지사항 -->
        <typeAlias type="com.artissue.model.ExhibitionDTO" alias="exhibitionDTO" /><!--전시회-->
        <typeAlias type="com.artissue.model.ReservationDTO" alias="reserveDTO" /><!--예매-->
        <typeAlias type="com.artissue.model.PriceDTO" alias="priceDTO" /><!--가격-->
        <typeAlias type="com.artissue.model.ReviewDTO" alias="reviewDTO" />
        <typeAlias type="com.artissue.model.ZzimDTO" alias="zzimDTO" />
    </typeAliases>
</configuration>