@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.nav-btn{
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin-bottom: -10px;
}

.nav-menu.is-active{
    font-weight: bold;
    border-bottom: 2px solid #000;
}

.heart {
    margin-right: 10px;
}

.oneMusic-chk {
    background-color: #fff;
    position: relative;
    z-index: 1;
    display: inline-flex; /* flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    min-width: 212px;
    height: 49px;
    color: #000;
    border: 1px solid #000;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 47px;
    font-weight: 700;
    text-transform: capitalize;
    transition-duration: 500ms;
    cursor: pointer;
    text-align: center; /* 텍스트 중앙 정렬 */
}

.rate { display: inline-block;border: 0;margin-right: 15px;}
.rate > input {display: none;}
.rate > label {float: right;color: #ddd}
.rate > label:before {display: inline-block;font-size: 1rem;padding: .3rem .2rem;margin: 0;cursor: pointer;font-family: FontAwesome;content: "\f005 ";}
.rate .half:before {content: "\f089 "; position: absolute;padding-right: 0;}
.rate input:checked ~ label,
.rate label:hover,.rate label:hover ~ label { color: #f73c32 !important;  }
.rate input:checked + .rate label:hover,
.rate input input:checked ~ label:hover,
.rate input:checked ~ .rate label:hover ~ label,
.rate label:hover ~ input:checked ~ label { color: #f73c32 !important;  }


.exhibitionNavBtn{
    position: absolute;
    right: -7px;
    top: 0px;
    margin-top: 50px;
}

.exhibitionNavBtn.fixed {
    position: fixed;
    top: 0px; /* 고정될 때의 위치 */
    right: 10px; /* 고정될 때 오른쪽 여백 */
}