<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">
    <style>
        .tab {
            display: inline-block;
            padding: 10px 20px;
            cursor: pointer;
            border: 1px solid #ccc;
            margin-right: 10px;
        }

        .tab.active {
            background-color: #007bff;
            color: white;
        }

        .form-container {
            display: none;
            margin-top: 20px;
        }
    </style>
</head>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="index" class="nav-brand"><img src="/bootstrap/img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="index">Home</a></li>
                                <li><a href="albums-store">Albums</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="index">Home</a></li>
                                        <li><a href="albums-store">Albums</a></li>
                                        <li><a href="event">Events</a></li>
                                        <li><a href="blog">News</a></li>
                                        <li><a href="contact">Contact</a></li>
                                        <li><a href="elements">Elements</a></li>
                                        <li><a href="#" id="loginLink">Login</a></li>
                                        <li><a href="#">Dropdown</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a>
                                                    <ul class="dropdown">
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Even Dropdown</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="event">Events</a></li>
                                <li><a href="blog">News</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul>

                            <!-- Login/Register & Cart Button -->
                            <div class="login-register-cart-button d-flex align-items-center">
                                <!-- Login/Register -->
                                <div class="login-register-btn mr-50">
                                    <a href="#" id="loginBtn">Login / Register</a>
                                </div>

                                <!-- Cart Button -->
                                <div class="cart-btn">
                                    <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Find</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Tabs Area Start ##### -->
<section class="tabs-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="tabs-content">
                    <div>
                        <div class="tab active" onclick="showForm('findId')">아이디찾기</div>
                        <div class="tab" onclick="showForm('findPwd')">비밀번호찾기</div>
                    </div>

                    <div id="findId" class="form-container" style="display:block;">
                        <h3>아이디 찾기</h3>
                        <!-- ID 찾기 Form -->
                        <form action="/findIdProc" method="post">
                            <div class="form-group">
                                <label for="findIdEmail">Name</label>
                                <input  class="form-control"  placeholder="이름을 입력하세요">
                            </div>
                            <div class="form-group">
                                <label for="findIdEmail">Email</label>
                                <input type="email"  class="form-control" id="findIdEmail" placeholder="이메일을 입력하세요">
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">아이디 찾기</button>
                        </form>
                    </div>

                    <div id="findPwd" class="form-container">
                        <h3>비밀번호 찾기</h3>
                        <!-- 비밀번호 찾기 Form -->
                        <form action="/findPwdProc" method="post">
                            <div class="form-group">
                                <label for="findIdEmail">ID</label>
                                <input  class="form-control"  placeholder="아이디를 입력하세요">
                            </div>
                            <div class="form-group">
                                <label for="findIdEmail">Name</label>
                                <input  class="form-control"  placeholder="이름을 입력하세요">
                            </div>
                            <div class="form-group">
                                <label for="findPwdEmail">Email</label>
                                <input type="email" name="email" class="form-control" id="findPwdEmail" placeholder="이메일을 입력하세요">
                            </div>

                            <button type="submit" class="btn oneMusic-btn mt-30">비밀번호 찾기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Tabs Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12 col-md-6">
                <a href="#"><img src="/bootstrap/img/core-img/logo.png" alt=""></a>
                <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

            <div class="col-12 col-md-6">
                <div class="footer-nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Albums</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/bootstrap/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/bootstrap/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/bootstrap/js/active.js"></script>

<script>
    function showForm(form) {
        document.getElementById('findId').style.display = 'none';
        document.getElementById('findPwd').style.display = 'none';
        document.getElementById(form).style.display = 'block';

        var tabs = document.getElementsByClassName('tab');
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].classList.remove('active');
        }
        document.querySelector('[onclick="showForm(\'' + form + '\')"]').classList.add('active');
    }
</script>
</body>

</html>
