<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>ART ISSUE :: 아이디 찾기</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">
    <style>
        .tab {
            display: inline-block;
            padding: 10px 20px;
            cursor: pointer;
            border: 1px solid #ccc;
            margin-right: 10px;
        }

        .tab.active {
            background-color: #007bff;
            color: white;
        }

        .form-container {
            display: none;
            margin-top: 20px;
        }
    </style>
</head>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<div th:replace="~{include/header}"></div>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Find</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Tabs Area Start ##### -->
<section class="tabs-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="tabs-content">
                    <div>
                        <div class="tab active" onclick="showForm('findId')">아이디찾기</div>
                        <div class="tab" onclick="showForm('findPwd')">비밀번호찾기</div>
                    </div>

                    <div id="findId" class="form-container" style="display:block;">
                        <h3>아이디 찾기</h3>
                        <!-- ID 찾기 Form -->
                        <form action="/findIdProc" method="post">
                            <div class="form-group">
                                <label for="findIdEmail">Name</label>
                                <input  class="form-control" name="member_name"  placeholder="이름을 입력하세요">
                            </div>
                            <div class="form-group">
                                <label for="findIdEmail">Email</label>
                                <input type="email"  class="form-control" name="member_email" id="findIdEmail" placeholder="이메일을 입력하세요">
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">아이디 찾기</button>
                        </form>
                    </div>

                    <div id="findPwd" class="form-container">
                        <h3>비밀번호 찾기</h3>
                        <!-- 비밀번호 찾기 Form -->
                        <form action="/findPwdProc" method="get">
                            <div class="form-group">
                                <label for="findIdEmail">ID</label>
                                <input  class="form-control"  name="member_id" placeholder="아이디를 입력하세요" required>
                            </div>
                            <div class="form-group">
                                <label for="findIdEmail">Name</label>
                                <input  class="form-control"  name="member_name" placeholder="이름을 입력하세요" required>
                            </div>
                            <div class="form-group">
                                <label for="findPwdEmail">Email</label>
                                <input type="email" class="form-control" name="member_email" id="findPwdEmail" placeholder="이메일을 입력하세요">
                            </div>

                            <button type="submit" class="btn oneMusic-btn mt-30">비밀번호 찾기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Tabs Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<div th:replace="~{include/footer}"></div>
<!-- ##### Footer Area End ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/bootstrap/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/bootstrap/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/bootstrap/js/active.js"></script>

<script>
    function showForm(form) {
        document.getElementById('findId').style.display = 'none';
        document.getElementById('findPwd').style.display = 'none';
        document.getElementById(form).style.display = 'block';

        var tabs = document.getElementsByClassName('tab');
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].classList.remove('active');
        }
        document.querySelector('[onclick="showForm(\'' + form + '\')"]').classList.add('active');
    }
</script>
</body>

</html>
