<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>ART ISSUE :: LOGIN</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">

    <style>

        .link-container{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-top: 10px;

        }

    </style>

</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div th:replace="~{include/header}"></div>

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Login</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Welcome Back</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                            <form action="/loginProc" method="post">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">ID</label>
                                    <input name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="아이디 입력하세요">
                                    <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your id with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="비밀번호 입력하세요">
                                </div>
                                <div>
                                    <div class="social-login">
                                        <a href="/oauth2/authorization/naver" class='btn-social-login' style='background:#1FC700'> <i class="xi-3x xi-naver"></i></a><span>&nbsp;|&nbsp;</span>
                                        <a href="/oauth2/authorization/kakao" class='btn-social-login' style='background:#FFEB00'> <i class="xi-3x xi-kakaotalk text-dark"></i></a>
                                    </div>
                                </div>

                                <div class="link-container">
                                    <a href="/findbyId">아이디 / 비밀번호 찾기</a>
                                    <a href="/join">회원가입</a>
                                </div>
                                <button type="submit" class="btn oneMusic-btn mt-30">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Login Area End ##### -->

    <div th:replace="~{include/footer}"></div>

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/bootstrap/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/bootstrap/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/bootstrap/js/active.js"></script>
</body>

</html>