<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!--발송-->
    <script>
        //가입 시 비밀번호 확인
        function pwdConfirm() {
            var p1 = document.getElementById('Password1').value;
            var p2 = document.getElementById('Password2').value;

            if (p1 !== p2) {
                alert("비밀번호가 일치하지 않습니다.");
                return false;
            } else {
                alert("비밀번호가 일치합니다.");
                return true;
            }
        }

        //중복 아이디 검사
        function checkId() {
            var userId = $("#user_id").val();
            console.log("userId>>>>"+userId);
            $.ajax({
                type: 'GET',
                url: '/joinId',
                data: { id: userId },
                dataType: "json",
                success: function(response) {
                    if (response.trim() === 'exists') {
                        alert("이미 사용 중인 아이디입니다.");
                    } else if (response.trim() === 'available') {
                        alert("사용 가능한 아이디입니다.");
                    } else {
                        alert("서버에서 알 수 없는 응답을 받았습니다: " + response);
                    }
                },
                error: function(xhr, status, error) {
                    console.error("AJAX 요청 실패:", error);
                    alert("서버 요청 중 오류가 발생했습니다.");
                }
            });
        }


        //인증번호 발송
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector("#send").addEventListener("click", function(event) {
                event.preventDefault();

                const memberPhone = document.querySelector('input[name="to"]').value.trim();
                const data = { memberPhone: memberPhone };

                // Axios POST 요청
                axios.post("/veri/send-one", null, { params: data })
                    .then(res => {
                        document.querySelector("#enterBtn").addEventListener("click", function (event) {
                            event.preventDefault();
                            const userNum = document.querySelector('input[name="userNum"]').value.trim();
                            if (res.data.verificationCode === userNum) {
                                alert("인증 성공하였습니다.");
                            } else {
                                alert("인증 실패하였습니다. 다시 입력해주세요.");
                            }
                        })
                    })
                    .catch(error => {
                        alert("데이터 통신 오류입니다.");
                        console.error('오류 내용:', error.response ? error.response.data : error.message);
                    });
            });
        });

    </script>
    <style>
        .idSize{
            width: 70px !important;
        }

    </style>
</head>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="index" class="nav-brand"><img src="/bootstrap/img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="index">Home</a></li>
                                <li><a href="albums-store">Albums</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="index">Home</a></li>
                                        <li><a href="albums-store">Albums</a></li>
                                        <li><a href="event">Events</a></li>
                                        <li><a href="blog">News</a></li>
                                        <li><a href="contact">Contact</a></li>
                                        <li><a href="elements">Elements</a></li>
                                        <li><a href="login">Login</a></li>
                                        <li><a href="#">Dropdown</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a>
                                                    <ul class="dropdown">
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Even Dropdown</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="event">Events</a></li>
                                <li><a href="blog">News</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul>

                            <!-- Login/Register & Cart Button -->
                            <div class="login-register-cart-button d-flex align-items-center">
                                <!-- Login/Register -->
                                <div class="login-register-btn mr-50">
                                    <a href="login" id="loginBtn">Login / Register</a>
                                </div>

                                <!-- Cart Button -->
                                <div class="cart-btn">
                                    <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Join</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">

                    <!-- join Form -->
                    <div class="login-form">
                        <form action="/joinProc" method="post" name="joinForm"  onsubmit="return pwdConfirm()">
                            <div class="form-group">
                                <label for="user_id">UserId</label>
                                <div class="input-group">
                                    <input type="text" id="user_id" name="user_id" class="form-control idSize" aria-describedby="emailHelp" placeholder="아이디를 입력하세요" required>
                                    <button class="btn btn-outline-secondary" type="button" onclick="checkId()">중복확인</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Password1">Password</label>
                                <input type="password" name="user_pwd" class="form-control" id="Password1"  placeholder="비밀번호를 입력하세요" required>
                            </div>
                            <div class="form-group">
                                <label for="Password2">Confirm Password</label>
                                <input type="password" name="confirm_pwd" class="form-control" id="Password2" placeholder="비밀번호를 다시 입력하세요" required>
                            </div>
                            <div>
                            받는사람 : <input type="text" class="to" id="to" name="to"/>
                            <button type="button" id="send">전송</button><br>

                            인증번호 : <input type="text" id="userNum" name="userNum">   <!-- 인증번호 입력창 -->
                            <button type="button" id="enterBtn">확인</button>
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">join</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12 col-md-6">
                <a href="#"><img src="/bootstrap/img/core-img/logo.png" alt=""></a>
                <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

            <div class="col-12 col-md-6">
                <div class="footer-nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Albums</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->



<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/bootstrap/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/bootstrap/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/bootstrap/js/active.js"></script>
</body>

</html>