<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!--발송-->
    <script>

        //닉네임 기업,개인 선택
        $(document).ready(function() {
            var selectedValue = $('input[name="userType"]:checked').val();
            updateInputFields(selectedValue);

            $('body').on('change', 'input[name="userType"]', function() {
                var selectedValue = $(this).val();
                updateInputFields(selectedValue);
            });

            function updateInputFields(selectedValue) {
                if (selectedValue == 'company') {
                    $('#inputContainer').html('<label for="companyName">기업명 </label><input type="text" id="companyName" name="member_nickname" class="form-control" required><br>');
                } else if (selectedValue == 'individual') {
                    $('#inputContainer').html('<label for="nickname">닉네임 </label><input type="text" id="nickname" name="member_nickname" class="form-control" required><br>');
                }

                $('#hiddenUserType').val(selectedValue);
            }
        });



        //비밀번호 체크
        $(function(){
            $('#Password1').on('input', function() {
                var pwd = $(this).val();
                var pwdPattern = /^(?=.*[!@#$%^&*(),.?":{}|<>])[A-Za-z\d!@#$%^&*(),.?":{}|<>]{8,20}$/;
                if (pwdPattern.test(pwd)) {
                    $('#pwdCheckmark').show();
                    $('#pwdError').hide();
                } else {
                    $('#pwdCheckmark').hide();
                    $('#pwdError').show();
                }
            });
        });

        $(function(){
            var pwd_check = false;
            $("#Password2").on('input', function(){
                pwdCheck($(this).val());
            });

            function pwdCheck(pwd){
                if(pwd==""){
                    $("#pwdCheckOk").hide();
                    $("#pwdEheckErr").hide();
                    return;
                }

                if($("#Password2").val() === $("#Password1").val()){
                    $("#pwdCheckOk").show();
                    $("#pwdEheckErr").hide();
                }else{
                    $("#pwdCheckOk").hide();
                    $("#pwdEheckErr").show();
                }
            };
        });


        //중복 아이디 검사
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('Idcheckmark').style.display = 'none';
            document.getElementById('checkIdBtn').addEventListener('click', function() {
                checkId();
            });
        });

        function checkId() {
            var memberId = document.getElementById("member_id").value;

            axios.post("/veri/checkId", null, { params: { id: memberId } })
                .then(function(response) {
                    var responseData = response.data.trim();
                    if (responseData === 'exists') {
                        alert("이미 사용 중인 아이디입니다.");
                        document.getElementById('Idcheckmark').style.display = 'none';
                    } else if (responseData === 'available') {
                        alert("사용 가능한 아이디입니다.");
                        document.getElementById('Idcheckmark').style.display = 'inline';
                    } else {
                        alert("서버에서 알 수 없는 응답을 받았습니다: " + responseData);
                        document.getElementById('Idcheckmark').style.display = 'none';
                    }
                })
                .catch(function(error) {
                    console.error("AJAX 요청 실패:", error);
                    alert("서버 요청 중 오류가 발생했습니다.");
                    document.getElementById('Idcheckmark').style.display = 'none';
                });
        }

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("member_id").addEventListener("input", function() {
                document.getElementById('Idcheckmark').style.display = 'none';
            });
        });

        //이메일 유효성검사
        $(function(){
            $('#member_email').on('input', function() {
                var email = $(this).val();
                var email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
                if (email_regex.test(email)) {
                    $('#emailCheck').show();
                    $('#emailErr').hide();
                } else {
                    $('#emailCheck').hide();
                    $('#emailErr').show();
                }
            });
        });






        function insertCheck(){

            var isIdValid = $('#Idcheckmark').is(':visible');
            var ispwdValid = $('#pwdCheckmark').is(':visible');
            var ispwd2Valid = $('#pwdCheckOk').is(':visible');
            var isPhoneValid = $('#phoneCheckOkMark').is(':visible');
            debugger;

            if (!isIdValid) {
                alert("아이디가 유효하지 않습니다.");
                return false;
            }

            if (!ispwdValid) {
                alert("비밀번호가 유효하지 않습니다.");
                return false;
            }

            if (!ispwd2Valid) {
                alert("비밀번호가 유효하지 않습니다.");
                return false;
            }

            if(!isPhoneValid){
                debugger;
                alert('휴대폰 본인인증 번호를 확인하여주십시오.');
                $("#userNum").focus();
                return false;
            }
        };



        //인증번호 발송
        $(document).ready(function() {
            var verificationCode = null; // 초기값을 null로 설정

            $('#phoneCheckOkMark').hide();
            $('#phoneCheckErr').hide();

            $("#send").on("click", function(event) {
                event.preventDefault();

                const memberPhone = $('input[name="veriPhone"]').val().trim();
                const data = { memberPhone: memberPhone };

                axios.post("/veri/send-one", null, { params: data })
                    .then(res => {
                        alert("문자를 발송했습니다. 인증번호를 확인해주세요.");
                        $("#resendbtn").show();
                        $("#send").hide();
                        verificationCode = res.data.verificationCode; // 최신 인증번호로 업데이트
                        $('#checkMessage').show();
                    })
                    .catch(error => {
                        alert("데이터 통신 오류입니다.");
                        console.error('오류 내용:', error.response ? error.response.data : error.message);
                    });
            });

            $("#resendbtn").on('click', function() {
                var mgrPhone = $("#to").val();
                $("#userNum").val('');

                $.ajax({
                    url : "veri/reSendSms",
                    type : "POST",
                    data : { mgrPhone : mgrPhone },
                    dataType : "JSON",
                    success : function(result) {
                        console.log(result);
                        if (result.status == 200) {
                            alert("인증번호가 전화번호로 재전송되었습니다.");
                            verificationCode = result.verificationCode; // 최신 인증번호로 업데이트
                            $('#checkMessage').show();
                        } else {
                            alert("인증번호 전송에 실패했습니다.");
                        }
                    },
                    error : function() {
                        alert("데이터 통신 오류입니다.");
                    }
                });
            });

            $("#enterBtn").on('click', function() {
                var userNum = $("#userNum").val().trim();

                if (verificationCode && userNum === verificationCode) {
                    alert("인증 성공하였습니다.");
                    $('#phoneCheckOkMark').show();
                    $('#phoneCheckErr').hide();
                    $('#checkMessage').hide();
                } else {
                    alert("인증 실패하였습니다. 다시 입력해주세요.");
                    $('#phoneCheckErr').show();
                    $('#phoneCheckOkMark').hide();
                    $('#checkMessage').hide();
                }
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("userNum").addEventListener("input", function() {
                document.getElementById('phoneCheckOkMark').style.display = 'none';
            });
        });

        $('#agreeCheckAll').on('change', function () {
            var isChecked = $(this).is(':checked');
            $('#requiredAgreeCheck1').prop('checked', isChecked);
        });


    </script>
    <style>
        .testWidth{
            width: 70px !important;
        }



        #send {
            margin-right: 25px;
        }

        .custom-input-group {
            display: flex;
            align-items: center;
        }

        .custom-input-group input,
        .custom-input-group button {
            margin-right: 50px;
        }

        .tSize{
            width: 36% !important;
        }



    </style>
</head>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<div th:replace="~{include/header}"></div>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Join</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">

                    <!-- join Form -->
                    <div class="login-form">
                        <form action="/joinProc" method="post" name="joinForm"  onsubmit="return insertCheck()">
                            <span>*가입 유형을 선택해주세요</span><br>
                            <label for="companyRadio"></label>
                                <input type="radio" name="userType" value="company" id="companyRadio" required> 기업

                            <label for="individualRadio">
                                <input type="radio" name="userType" value="individual" id="individualRadio" required> 개인
                            </label>

                            <div id="inputContainer"></div>

                            <div class="form-group">
                                <label for="member_id">아이디</label>
                                <div class="input-group">
                                    <input type="text" id="member_id" name="member_id" class="form-control testWidth" aria-describedby="emailHelp" placeholder="아이디를 입력하세요" required>
                                    <button onclick="checkId()" class="btn btn-outline-secondary">중복확인</button>
                                </div>
                                <span id="Idcheckmark" class="checkmark">✔</span>
                            </div>

                            <div class="form-group">
                                <label for="Password1">비밀번호</label>
                                <input type="password" name="member_pwd" class="form-control" id="Password1"  placeholder="비밀번호를 입력하세요" required>
                                <span id="pwdCheckmark" class="checkmark" style="display: none;">✔</span>
                                <span id="pwdError" style="display: none; color: red; font-size: 12px;">
                                    비밀번호는 8자 이상 20자 이하이며 특수문자 1자를 포함해야 합니다.
                                </span>
                            </div>

                            <div class="form-group">
                                <label for="Password2">비밀번호 확인</label>
                                <input type="password" name="confirm_pwd" class="form-control" id="Password2" placeholder="비밀번호를 다시 입력하세요" required>
                                <span id="pwdEheckErr" style="display: none; color: red; font-size: 12px;">
                                    위의 비밀번호와 입력된 비밀번호가 다릅니다.</span>
                                <span id="pwdCheckOk" class="checkmark" style="display: none;">✔</span>
                            </div>
                            <div class="input-group">
                                <label>이름</label><br>
                                <input name="member_name" class="form-control" aria-describedby="emailHelp" placeholder="이름을 입력하세요" required>
                            </div><br>
                            <div class="input-group">
                                <label>휴대폰번호</label><br>
                                <input name="member_phone" class="form-control" placeholder="휴대폰번호를 입력하세요" required>
                            </div><br>
                            <div class="input-group">
                                <label>이메일</label><br>
                                <input name="member_email" id="member_email" class="form-control" aria-describedby="emailHelp" placeholder="이메일을 입력하세요" required>
                                <span id="emailErr" style="display: none; color: red; font-size: 12px;">
                                    이메일 형식과 맞지 않습니다.</span>
                                <span id="emailCheck" class="checkmark" style="display: none;">✔</span>
                            </div><br>
                            <div class="input-group">
                                <label>생년월일</label><br>
                                <input type="date" name="member_birth" class="form-control" aria-describedby="emailHelp" placeholder="생년월일을 입력하세요" required>
                            </div><br>
                            <div class="input-group">
                                <label>성별 : &nbsp;</label>
                                <label>
                                    <input type="radio" name="member_gender" value="female" required> 여자&nbsp;
                                </label>
                                <label>
                                    <input type="radio" name="member_gender" value="male" required> 남자
                                </label>
                            </div><br>
                          <div class="form-group">
                                <label>휴대폰 본인확인(문자) &nbsp;</label><br>
                              <div class="custom-input-group">
                                     <input type="text" class="to form-control tSize" id="to" name="veriPhone" required/>
                                     <button type="button" class="btn btn-outline-secondary" id="send">전송</button>
                                     <button type="button" class="btn btn-outline-secondary" id="resendbtn" style="display: none;">재전송</button>
                              </div>
                          </div>
                              <div class="form-group">
                                <label>인증번호 &nbsp;</label><br>
                                  <div class="custom-input-group">
                                 <input type="text" class="form-control tSize" id="userNum" name="userNum" required>
                                           <button type="button" class="btn btn-outline-secondary" id="enterBtn">확인</button>
                                            <span id="phoneCheckOkMark" class="checkmark">✔</span>

                                            <span id="phoneCheckErr" style="display: none; color: red; font-size: 12px;">
                                            인증번호가 일치하지 않습니다.
                                          </span>
                                          <span id="checkMessage" style="display: none; color: red; font-size: 12px;">
                                        인증번호 입력 후 확인을 클릭해 주세요.
                                     </span>
                                  </div>
                            </div><br><br>

                            <input type="checkbox" id="requiredAgreeCheck1" required>
                            <label>
                                <span><strong>개인 및 기업회원 수집 및 이용에 동의합니다.(필수)</strong></span>
                            </label>

                            <div>
                                <input type="checkbox" id="selectAgreeCheck1">
                                <label>
                                    <span>SMS로 상품 및 이벤트 정보를 받겠습니다.(선택)</span>
                                </label>
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">join</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<div th:replace="~{include/footer}"></div>
<!-- ##### Footer Area Start ##### -->



<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/bootstrap/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/bootstrap/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/bootstrap/js/active.js"></script>
</body>

</html>