<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!--발송-->
    <script>

        //닉네임 기업,개인 선택
        $(document).ready(function() {
            // 초기 로딩 시 userType 값에 따라 필드 설정
            var selectedValue = $('input[name="userType"]:checked').val();
            updateInputFields(selectedValue);

            // userType 변경 시 처리
            $('body').on('change', 'input[name="userType"]', function() {
                var selectedValue = $(this).val();
                updateInputFields(selectedValue);
            });

            // 필드 업데이트 함수
            function updateInputFields(selectedValue) {
                if (selectedValue == 'company') {
                    $('#inputContainer').html('<label for="companyName">기업명: </label><input type="text" id="companyName" name="member_nickname">');
                } else if (selectedValue == 'individual') {
                    $('#inputContainer').html('<label for="nickname">닉네임: </label><input type="text" id="nickname" name="member_nickname">');
                }

                // hidden input의 값을 업데이트
                $('#hiddenUserType').val(selectedValue);
            }
        });






        //비밀번호 체크
        $(function(){
            $('#Password1').on('input', function() {
                var pwd = $(this).val();
                var pwdPattern = /^(?=.*[!@#$%^&*(),.?":{}|<>])[A-Za-z\d!@#$%^&*(),.?":{}|<>]{8,20}$/;
                if (pwdPattern.test(pwd)) {
                    $('#pwdCheckmark').show();
                    $('#pwdError').hide();
                } else {
                    $('#pwdCheckmark').hide();
                    $('#pwdError').show();
                }
            });
        });

        $(function(){
            var pwd_check = false;
            $("#Password2").on('input', function(){
                pwdCheck($(this).val());
            });

            function pwdCheck(pwd){
                if(pwd==""){
                    $("#pwd_check_ok").hide();
                    $("#pwd_check_err").hide();
                    return;
                }

                if($("#Password2").val() === $("#Password1").val()){
                    $("#pwd_check_ok").show();
                    $("#pwd_check_err").hide();
                }else{
                    $("#pwd_check_ok").hide();
                    $("#pwd_check_err").show();
                }
            };
        });


        //중복 아이디 검사
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('Idcheckmark').style.display = 'none';
            document.getElementById('checkIdBtn').addEventListener('click', function() {
                checkId();
            });
        });

        function checkId() {
            var memberId = document.getElementById("member_id").value;

            axios.post("/veri/checkId", null, { params: { id: memberId } })
                .then(function(response) {
                    var responseData = response.data.trim();
                    if (responseData === 'exists') {
                        alert("이미 사용 중인 아이디입니다.");
                        document.getElementById('Idcheckmark').style.display = 'none';
                    } else if (responseData === 'available') {
                        alert("사용 가능한 아이디입니다.");
                        document.getElementById('Idcheckmark').style.display = 'inline';
                    } else {
                        alert("서버에서 알 수 없는 응답을 받았습니다: " + responseData);
                        document.getElementById('Idcheckmark').style.display = 'none';
                    }
                })
                .catch(function(error) {
                    console.error("AJAX 요청 실패:", error);
                    alert("서버 요청 중 오류가 발생했습니다.");
                    document.getElementById('Idcheckmark').style.display = 'none';
                });
        }
        function insertCheck(){

            var isIdValid = $('#Idcheckmark').is(':visible');
            var isComNoValid = $('#pwd_check_ok').is(':visible');
            var isPhoneCheckValid = $('#pwdCheckmark').is(':visible');

            debugger;


            if (!isIdValid) {
                alert("아이디가 유효하지 않습니다.");
                return false;
            }

            if(!isPhoneCheckValid){
                debugger;
                alert('휴대폰 본인인증 번호를 확인하여주십시오.');
                $("#phone_verify").focus();
                return false;
            }


        };




        //인증번호 발송
        document.addEventListener('DOMContentLoaded', function() {
            $('#phone_check_ok_mark').hide();
            $('#phone_check_err').hide();
            document.querySelector("#send").addEventListener("click", function(event) {
                event.preventDefault();

                const memberPhone = document.querySelector('input[name="veriPhone"]').value.trim();
                const data = { memberPhone: memberPhone };

                // Axios POST 요청
                axios.post("/veri/send-one", null, { params: data })
                    .then(res => {
                        document.querySelector("#enterBtn").addEventListener("click", function (event) {
                            event.preventDefault();
                            const userNum = document.querySelector('input[name="userNum"]').value.trim();
                            if (res.data.verificationCode === userNum) {
                                alert("인증 성공하였습니다.");
                                $('#phone_check_ok_mark').show();
                                $('#phone_check_err').hide();
                            } else {
                                alert("인증 실패하였습니다. 다시 입력해주세요.");
                                $('#phone_check_err').show();
                                $('#phone_check_ok_mark').hide();
                            }
                        })
                    })
                    .catch(error => {
                        alert("데이터 통신 오류입니다.");
                        console.error('오류 내용:', error.response ? error.response.data : error.message);
                    });
            });
        });

    </script>
    <style>
        .idSize{
            width: 70px !important;
        }

        #send {
            margin-right: 25px;
        }

    </style>
</head>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="index" class="nav-brand"><img src="/bootstrap/img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="index">Home</a></li>
                                <li><a href="albums-store">Albums</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="index">Home</a></li>
                                        <li><a href="albums-store">Albums</a></li>
                                        <li><a href="event">Events</a></li>
                                        <li><a href="blog">News</a></li>
                                        <li><a href="contact">Contact</a></li>
                                        <li><a href="elements">Elements</a></li>
                                        <li><a href="login">Login</a></li>
                                        <li><a href="#">Dropdown</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a></li>
                                                <li><a href="#">Even Dropdown</a>
                                                    <ul class="dropdown">
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                        <li><a href="#">Deeply Dropdown</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Even Dropdown</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="event">Events</a></li>
                                <li><a href="blog">News</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul>

                            <!-- Login/Register & Cart Button -->
                            <div class="login-register-cart-button d-flex align-items-center">
                                <!-- Login/Register -->
                                <div class="login-register-btn mr-50">
                                    <a href="login" id="loginBtn">Login / Register</a>
                                </div>

                                <!-- Cart Button -->
                                <div class="cart-btn">
                                    <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Join</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">

                    <!-- join Form -->
                    <div class="login-form">
                        <form action="/joinProc" method="post" name="joinForm"  onsubmit="return pwdConfirm()">
                            <span>*가입 유형을 선택해주세요</span><br>
                            <label for="companyRadio"></label>
                                <input type="radio" name="userType" value="company" id="companyRadio"> 기업

                            <label for="individualRadio">
                                <input type="radio" name="userType" value="individual" id="individualRadio"> 개인
                            </label>

                            <div id="inputContainer"></div>

                            <div class="form-group">
                                <label for="member_id">아이디</label>
                                <div class="input-group">
                                    <input type="text" id="member_id" name="member_id" class="form-control idSize" aria-describedby="emailHelp" placeholder="아이디를 입력하세요" required>
                                    <button onclick="checkId()" class="btn btn-outline-secondary">중복확인</button>
                                </div>
                                <span id="Idcheckmark" class="checkmark">✔</span>
                            </div>

                            <div class="form-group">
                                <label for="Password1">비밀번호</label>
                                <input type="password" name="member_pwd" class="form-control" id="Password1"  placeholder="비밀번호를 입력하세요" required>
                                <span id="pwdCheckmark" class="checkmark" style="display: none;">✔</span>
                                <span id="pwdError" style="display: none; color: red; font-size: 12px;">
                                    비밀번호는 8자 이상 20자 이하이며 특수문자 1자를 포함해야 합니다.
                                </span>
                            </div>

                            <div class="form-group">
                                <label for="Password2">비밀번호 확인</label>
                                <input type="password" name="confirm_pwd" class="form-control" id="Password2" placeholder="비밀번호를 다시 입력하세요" required>
                                <span id="pwd_check_err" style="display: none; color: red; font-size: 12px;">
                                    위의 비밀번호와 입력된 비밀번호가 다릅니다.</span>
                                <span id="pwd_check_ok" class="checkmark" style="display: none;">✔</span>
                            </div>
                            <div class="input-group">
                                <label>이름</label><br>
                                <input name="member_name" class="form-control" aria-describedby="emailHelp" placeholder="이름을 입력하세요" required>
                            </div><br>
                            <div class="input-group">
                                <label>휴대폰번호</label><br>
                                <input name="member_phone" class="form-control" placeholder="휴대폰번호를 입력하세요" required>
                            </div><br>
                            <div class="input-group">
                                <label>이메일</label><br>
                                <input name="member_email" class="form-control" aria-describedby="emailHelp" placeholder="이메일을 입력하세요" required>
                            </div><br>
                            <div class="input-group">
                                <label>생년월일</label><br>
                                <input type="date" name="member_birth" class="form-control" aria-describedby="emailHelp" placeholder="생년월일을 입력하세요" required>
                            </div><br>
                            <div class="input-group">
                                <label>성별 : &nbsp;</label>
                                <label>
                                    <input type="radio" name="member_gender" value="female"> 여자&nbsp;
                                </label>
                                <label>
                                    <input type="radio" name="member_gender" value="male"> 남자
                                </label>
                            </div><br>
                          <!--<div class="input-group">
                                <label>받는사람 &nbsp;</label>
                                <label>
                             <input type="text" class="to" id="to" name="veriPhone" required/>
                            <button type="button" id="send">전송</button>
                                </label>
                                <label>인증번호 &nbsp;</label>
                                <label>
                             <input type="text" id="userNum" name="userNum" required>
                            <button type="button" id="enterBtn">확인</button>
                                    <span id="phone_check_ok_mark" class="checkmark">✔</span>
                                    <span id="phone_check_err" style="display: none; color: red; font-size: 12px;">
								입력하신 인증번호와 발송된 인증번호가 다릅니다.
							</span>
                                </label>
                            </div>-->
                            <button type="submit" class="btn oneMusic-btn mt-30">join</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12 col-md-6">
                <a href="#"><img src="/bootstrap/img/core-img/logo.png" alt=""></a>
                <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

            <div class="col-12 col-md-6">
                <div class="footer-nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Albums</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->



<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/bootstrap/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/bootstrap/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/bootstrap/js/active.js"></script>
</body>

</html>