<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>ART ISSUE :: 상세보기</title>
    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">
    <link rel="stylesheet" href="/css/exhibition.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .link-container{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div th:replace="~{include/header}"></div>
<input type="hidden" sec:authorize="isAuthenticated() and hasRole('USER')" th:if="${session.mDTO.getMember_phone().equals('-')}" id="reCk" value="N">

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Content</h2>
    </div>
</section>

<section class="section-padding-100">
    <div class="blog-area">
        <div class="container mb-30">
            <div class="row">
                <div class="event-thumnail col-12 col-md-6 col-lg-4">
                    <img th:src="${Exhibition.getExhibition_thumnail()}">
                </div>
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="contact-content mb-50">
                        <h3 th:text="${Exhibition.getExhibition_title()}"></h3>
                    </div>
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="mr-50"><span><p>장&nbsp;&nbsp;&nbsp;소</p></span></div>
                        <p th:text="${Exhibition.getExhibition_place()}"></p>
                    </div>
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="mr-50"><span><p>주&nbsp;&nbsp;&nbsp;소</p></span></div>
                        <p th:text="${Exhibition.getExhibition_addr()}"></p>
                    </div>
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="mr-50"><span><p>기&nbsp;&nbsp;&nbsp;간</p></span></div>
                        <p th:text="${#dates.format(Exhibition.getExhibition_start_date(), 'yyyy-MM-dd')} + ' ~ ' + ${#dates.format(Exhibition.getExhibition_end_date(), 'yyyy-MM-dd')}"></p>
                    </div>
                    <div class="single-contact-info d-flex align-items-center" th:if="${Exhibition.getExhibition_view_time() != null}">
                        <div class="mr-30"><span><p>관람시간</p></span></div>
                        <p th:text="${Exhibition.getExhibition_view_time()}"></p>
                    </div>
                    <div class="single-contact-info d-flex align-items-center" th:if="${Exhibition.getExhibition_view_age() != null}">
                        <div class="mr-30"><span><p>관람연령</p></span></div>
                        <p th:text="${Exhibition.getExhibition_view_age()}"></p>
                    </div>
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="mr-50"><span><p>가&nbsp;&nbsp;&nbsp;격</p></span></div>
                        <a href="#" data-toggle="modal" data-target="#priceModal"><p style="font-weight: bold;">자세히 보기</p></a>
                    </div>
                    <div class="exhibitionNavBtn">
                        <input type="hidden" id="exhibition_key" th:value="${Exhibition.getExhibition_key()}">
                        <input class="btn oneMusic-btn" type="button" id="reserveOpenBt" value="예매하기"
                               th:if="${Exhibition.getExhibition_end_date().after(#dates.createNow()) or Exhibition.getExhibition_end_date().equals(#dates.createNow())}">

                        <input class="btn oneMusic-btn" type="button" value="판매종료"
                               th:if="${Exhibition.getExhibition_end_date().before(#dates.createNow())}">
                        <br>
                        <div id="oneMusic-chk" class="oneMusic-chk">
                            <input class="interest-check" type="hidden" th:id="'interestExhi_'+${Exhibition.getExhibition_key()}" th:value="${Exhibition.getExhibition_key()}">
                            <img id="heart" class="heart" src="/img/interest_icon1.png">
                            <span>찜하기</span>
                        </div>
                        <div>
                            <input type="button" id="" class="oneMusic-btn" value="이용정보">
                            <br>
                            <input type="button" id="" class="oneMusic-btn" value="판매정보">
                            <br>
                            <input type="button" id="" class="oneMusic-btn" value="이용후기">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding-0-100">
    <div class="container">
    <div class="">
        <nav class="">
            <ul class="nav-btn">
                <li class="nav-menu is-active" id="use-info-tab"><a href="#"><h4>이용정보</h4></a></li>
                <li class="nav-menu" id="sell-info-tab"><a href="#"><h4>판매정보</h4></a></li>
                <li class="nav-menu" id="review-info-tab"><a href="#"><h4>이용후기</h4></a></li>
            </ul>
        </nav>
    </div>

    <div class="content section-padding-100" id="use-info">
        <th:block>
            <p th:utext="${Exhibition.getExhibition_notice()}"></p>
            <br>
            <p th:utext="${Exhibition.getExhibition_detail_info()}"></p>
        </th:block>
    </div>

    <div class="content section-padding-100" id="sell-info" style="display: none;">
        <th:block>
            <p th:utext="${Exhibition.getExhibition_seller_info()}"></p>
            <br>
            <p th:utext="${Exhibition.getExhibition_product_info()}"></p>
        </th:block>
    </div>

    <div class="content section-padding-100" id="review-info" style="display: none;">
        <div id="review-notice">
            <p><div class="bbsNotice"><div class="bbsNoticeHead"><strong class="bbsNoticeTitle">꼭 읽어주세요</strong></div><p class="bbsNoticeText">게시판 운영 규정에 어긋난다고 판단되는 게시글은 사전 통보없이 블라인드 처리될 수 있습니다.<br>특히 티켓 매매 및 양도의 글은 발견 즉시 임의 삭제되며 전화번호, 이메일 등의 개인정보는 악용될 우려가 있으므로 게시를 삼가 주시기 바랍니다.<br>사전 경고에도 불구하고 불량 게시물을 계속적으로 게재한 게시자의 경우 인터파크 티켓 게시판 작성 권한이 제한됩니다.</p></div></p>
        </div>
        <div class="">
            <div class="review-header" style="padding-bottom: 10px;">
                <h5 >총 [[${Review.size()}]] 건의 리뷰가 있어요!</h5>
            </div>

            <div class="review-write">
                <th:block sec:authorize="isAuthenticated() and hasRole('ROLE_USER')">
                    <div class="" id="review-box">
                        <table>
                            <tr>
                                <th>제 목</th>
                                <td><input type="text" id="review-title" required></td>
                            </tr>
                            <tr>
                                <th>별 점</th>
                                <td>
                                    <fieldset class="rate">
                                        <input type="radio" id="rating10" name="rating" value="5"><label for="rating10" title="5점"></label>
                                        <input type="radio" id="rating8" name="rating" value="4"><label for="rating8" title="4점"></label>
                                        <input type="radio" id="rating6" name="rating" value="3"><label for="rating6" title="3점"></label>
                                        <input type="radio" id="rating4" name="rating" value="2"><label for="rating4" title="2점"></label>
                                        <input type="radio" id="rating2" name="rating" value="1"><label for="rating2" title="1점"></label>
                                    </fieldset>
                                </td>
                            </tr>
                            <tr>
                                <th>내 용</th>
                                <td>
                                    <textarea id="review-cont" name="reply_cont" rows="3" cols="113" placeholder="솔직하고 따뜻한 리븊를 남겨주세요~" required></textarea>
                                </td>
                            </tr>
                        </table>

                        <input id="review-btn" class="reply-btn" type="button" value="리뷰 작성">
                    </div>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">
                        <textarea name="review_cont" rows="2" cols="100" placeholder="로그인 후 리뷰를 남겨주세요~" ></textarea>
                    </a>
                </th:block>
                <th:block sec:authorize="isAuthenticated() and hasRole('ROLE_COMPANY')">
                    <textarea name="review_cont" rows="2" cols="100" placeholder="기업회원은 리뷰를 남길수 없어요..." ></textarea>
                </th:block>
            </div>
            <div>
                <th:block th:if="${Review.isEmpty() || Review.size() == 0}">
                    <h5>아직 등록된 후기가 없습니다.</h5>
                </th:block>
            </div>
            <div>
                <th:block th:if="${!Review.isEmpty() && Review != null}">
                    <ul id="review-list">
                        <li th:each="review,iter : ${Review}">
                            <div class="review-title">
                                <input type="hidden" id="review_key" th:value="${review.getReview_key()}">
                                <h5 th:text="${review.getReview_title()}"></h5>
                            </div>
                            <div class="review-star"></div>
                            <div class="review-nickname">
                                <p th:text="${Nicknames[iter.index]}"></p>
                            </div>
                            <div class="review-date">
                                <p th:text="${review.getReview_date()}"></p>
                            </div>
                            <div class="review-cont">
                                <p th:text="${review.getReview_cont()}"></p>
                            </div>
                            <th:block sec:authorize="isAuthenticated() and hasRole('ROLE_USER')" th:if="${review.getMember_key() == session.mDTO.getMember_key()}">
                                <input type="button" id="rewriteReview" value="수정">
                                <input type="button" id="deleteReview" value="삭제">
                                <div id="reWriteReview-form" class="" style="display:none;">
                                    <table>
                                        <tr>
                                            <th>제 목</th>
                                            <td><input type="text" id="re-review-title" required th:value="${review.getReview_title()}"></td>
                                        </tr>
                                        <tr>
                                            <th>별 점</th>
                                            <td>
                                                <fieldset class="rate">
                                                    <input type="radio" id="re-rating10" name="re-rating" value="5"><label for="re-rating10" title="5점"></label>
                                                    <input type="radio" id="re-rating8" name="re-rating" value="4"><label for="re-rating8" title="4점"></label>
                                                    <input type="radio" id="re-rating6" name="re-rating" value="3"><label for="re-rating6" title="3점"></label>
                                                    <input type="radio" id="re-rating4" name="re-rating" value="2"><label for="re-rating4" title="2점"></label>
                                                    <input type="radio" id="re-rating2" name="re-rating" value="1"><label for="re-rating2" title="1점"></label>
                                                </fieldset>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>내 용</th>
                                            <td>
                                                <textarea id="re-review-cont" name="reply_cont" rows="3" cols="113" th:text="${review.getReview_cont()}" required></textarea>
                                            </td>
                                        </tr>
                                    </table>

                                    <input id="re-review-btn" class="reply-btn" type="button" value="리뷰 수정">
                                </div>
                            </th:block>
                        </li>
                    </ul>
                </th:block>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- ##### Breadcumb Area End ##### -->

<div th:replace="~{include/footer}"></div>

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/bootstrap/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/bootstrap/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/bootstrap/js/active.js"></script>


<script src="/js/exhibition/content.js"></script>

<!-- Modal -->
<div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="priceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="priceModalLabel">상세 가격 정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="font-size: 12px;">특정 기간, 특정 공연일에만 판매되는 가격이 있습니다. 예매 시 참고하시기 바랍니다.</p>
                <th:block th:if="${Price.isEmpty() || Price.size() == 0}">
                    <span>현장발권만 가능한 전시회입니다.</span>
                </th:block>
                <th:block th:if="${Price != null && !Price.isEmpty()}">
                    <table style="width: 100%;">
                        <tr th:each="price : ${Price}">
                            <th th:text="${price.price_option}" style="width: 85%;"></th>
                            <td th:text="${#numbers.formatInteger(price.price,1,'COMMA')+'원'}" style="width: 15%;"></td>
                        </tr>
                    </table>
                </th:block>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>
