<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div th:replace="~{include/header}"></div>

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Events</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Events Area Start ##### -->
    <section>
        <div class="search-filter">
            <div class="exhibition-search container">
                <label for="exampleInputEmail1">ID</label>
                <input name="keyword" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="검색하고 싶은 전시회 이름">
            </div>

            <div class="exhibition-filter">

            </div>
        </div>
    </section>

    <section class="events-area section-padding-100">
        <div class="container">
            <div class="row" id="exhibition-list">
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center mt-70">
                        <a href="#" class="btn oneMusic-btn" id="load-more">Load More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Events Area End ##### -->

    <div th:replace="~{include/footer}"></div>

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->


    <script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>

    <script src="/js/exhibition/exhibitionList.js"></script>
    <!-- Popper js -->
    <script src="/bootstrap/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/bootstrap/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/bootstrap/js/active.js"></script>
</body>

</html>