<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div th:replace="~{include/header}"></div>

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Events</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Events Area Start ##### -->
    <section>
        <div class="search-filter">
            <div class="exhibition-search container">
                <label for="search-keyword">검색어</label>
                <input name="keyword" class="form-control" id="search-keyword" aria-describedby="emailHelp" placeholder="검색하고 싶은 전시회 이름">
                <input type="button" onclick="keywordSearch()" value="검색">
            </div>

            <div class="exhibition-filter" id="exhi-filter">
                <div class="container" id="">
                    <label for="sell-filter">판매상태</label>
                    <div id="sell-filter">
                        <label><input type="checkbox" name="sellCode" value="판매중">판매중</label>
                        <label><input type="checkbox" name="sellCode" value="판매예정">판매예정</label>
                        <label><input type="checkbox" name="sellCode" value="판매종료">판매종료</label>
                    </div>
                    <label for="loc-filter">지역(중복)</label>
                    <div id="loc-filter" class="">
                        <label><input type="checkbox" name="locCode" value="서울">서울</label>
                        <label><input type="checkbox" name="locCode" value="부산">부산</label>
                        <label><input type="checkbox" name="locCode" value="인천">인천</label>
                        <label><input type="checkbox" name="locCode" value="대구">대구</label>
                        <label><input type="checkbox" name="locCode" value="대전">대전</label>
                        <label><input type="checkbox" name="locCode" value="광주">광주</label>
                        <label><input type="checkbox" name="locCode" value="울산">울산</label>
                        <label><input type="checkbox" name="locCode" value="경기">경기</label>
                        <label><input type="checkbox" name="locCode" value="충청북도">충북</label>
                        <label><input type="checkbox" name="locCode" value="충청남도">충남</label>
                        <label><input type="checkbox" name="locCode" value="강원">강원</label>
                        <label><input type="checkbox" name="locCode" value="전라북도">전북</label>
                        <label><input type="checkbox" name="locCode" value="전라남도">전남</label>
                        <label><input type="checkbox" name="locCode" value="경상북도">경북</label>
                        <label><input type="checkbox" name="locCode" value="경상남도">경남</label>
                    </div>
                </div>
            </div>
            <div class="container">
                <input type="button" class="btn oneMusic-btn mt-30" onclick="filterReset()" value="초기화">
                <input type="button" class="btn oneMusic-btn mt-30" onclick="getComBoardList()" value="조건검색">
            </div>
        </div>
    </section>

    <section class="events-area section-padding-100">
        <div class="container">
            <div class="row" id="exhibition-list">
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center mt-70">
                        <a href="#" class="btn oneMusic-btn" id="load-more">Load More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Events Area End ##### -->

    <div th:replace="~{include/footer}"></div>

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->


    <script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>

    <script src="/js/exhibition/exhibitionList.js"></script>
    <!-- Popper js -->
    <script src="/bootstrap/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/bootstrap/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/bootstrap/js/active.js"></script>
</body>

</html>