body{
    height: 100%;
    background-color: #000;
}
.tc-logo{
    text-align: center;
    padding: 40px 0;
}
.tc-logo img{
    width: 55%;
}
.tc-all{
    width: 100%;
    min-width: 300px;
}
.tc-img img{
    width: 100%;
}
.tc-num{
    text-align: center;
}
.tc-num p{
    margin: 0;
    font-size: 50px;
    color: #787878;
}
.tc-qr{
    text-align: center;
    padding: 50px 0;
}
.tc-qr img{
    width: 300px;
}