<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>ART ISSUE :: 마이페이지</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">


    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(function(){
            $('#Password1').on('input', function() {
                var pwd = $(this).val();
                var pwdPattern = /^(?=.*[!@#$%^&*(),.?":{}|<>])[A-Za-z\d!@#$%^&*(),.?":{}|<>]{8,20}$/;
                if (pwdPattern.test(pwd)) {
                    $('#pwdCheckmark').show();
                    $('#pwdError').hide();
                } else {
                    $('#pwdCheckmark').hide();
                    $('#pwdError').show();
                }
            });
        });

        $(function(){
            var pwd_check = false;
            $("#Password2").focusout(function(){
                pwdCheck($(this).val());
            });

            function pwdCheck(pwd){
                if(pwd==""){
                    $("#pwd_check").text("");
                    return;
                }

                if($("#Password2").val() === $("#Password1").val()){
                    $("#pwd_check_ok").show();
                    $("#pwd_check_err").hide();
                }else{
                    $("#pwd_check_ok").hide();
                    $("#pwd_check_err").show();
                }
            };
        });

        function insertCheck(){
            var pwd = $('#Password1').val();
            var pwdPattern = /^(?=.*[!@#$%^&*(),.?":{}|<>])[A-Za-z\d!@#$%^&*(),.?":{}|<>]{8,20}$/;

            debugger;

            if(!pwdPattern.test(pwd)){
                debugger;
                alert('비밀번호를 확인하여주십시오.');
                $("#Password1").focus();
                return false;
            }

            if($("#Password1").val()!=$("#Password2").val()){
                debugger;
                alert('비밀번호 확인을 확인하여주십시오.');
                $("#Password2").focus();
                return false;
            }

        };

    </script>
    <style>

        .link-container{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-top: 10px;

        }

    </style>
</head>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div th:replace="~{include/header}"></div>

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>MY PAGE</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="new-hits-area mb-100">
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userMove">회원정보 수정</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userPwdUpdateMove">비밀번호 변경</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userReserveList">예약리스트</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userZZimList">찜리스트</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userResign">회원탈퇴</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9" style="border: solid 1px #000000;">
                <h3>비밀번호 변경</h3>
                <hr>
                <h4>소셜 로그인으로 로그인 한 경우 비밀번호 변경이 불가합니다.</h4>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->

<div th:replace="~{include/footer}"></div>

<!-- ##### All Javascript Script ##### -->
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
<!-- jQuery-2.2.4 js -->
<script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/bootstrap/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/bootstrap/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/bootstrap/js/active.js"></script>
</body>

<script>
    ClassicEditor
        .create(document.querySelector('#notice_cont'), {
            removePlugins: ['Heading'],
            language: "ko"
        })
        .then(editor => {
            $('style').append('.ck-content { height: 400px; }');
            let objEditor = editor;

            editor.model.document.on('change:data', () => {
                $('#notice_cont').val(editor.getData());
            }, {priority: 'high'});
        })
        .catch(error => {
            console.error(error);
        });
</script>

</html>