<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>ART ISSUE :: 마이페이지</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">

    <style>

        .link-container{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-top: 10px;

        }

    </style>
</head>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div th:replace="~{include/header}"></div>

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>MY PAGE</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="new-hits-area mb-100">
                    <div sec:authorize="isAuthenticated() and hasRole('COMPANY')"  class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/company/exList">내 전시회</a>
                    </div>
                    <div sec:authorize="isAuthenticated() and hasRole('COMPANY')"  class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/company/insert">전시회 등록</a>
                    </div>
                    <div sec:authorize="isAuthenticated() and hasRole('USER')"  class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userReserveList">예약리스트</a>
                    </div>
                    <div sec:authorize="isAuthenticated() and hasRole('USER')" class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userZZimList">찜리스트</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userMove">회원정보 수정</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userPwdUpdateMove">비밀번호 변경</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userResign">회원탈퇴</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9" style="border: solid 1px #000000;">
                <hr>
                <th:block th:if="${zzimList != null}">
                    <div th:each="zzim, stat : ${zzimList}">
                        <div class="single-contact-info d-flex align-items-center">
                            <p class="mr-30">전시회 이름</p>
                            <a style="margin-bottom: 1rem;" th:href="@{/exhi/content(no=${zzim.getExhibition_key()})}"
                               th:text="${exhibitionList[stat.index].exhibition_title}"></a>
                        </div>
                        <div class="single-contact-info d-flex align-items-center">
                            <p class="mr-30">전시회 기간</p>
                            <p th:text="${#dates.format(exhibitionList[stat.index].exhibition_start_date, 'yyyy-MM-dd')} + ' ~ ' +
                                        ${#dates.format(exhibitionList[stat.index].exhibition_end_date, 'yyyy-MM-dd')}">

                            </p>
                        </div>
                        <hr>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->

<div th:replace="~{include/footer}"></div>

<!-- ##### All Javascript Script ##### -->
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
<!-- jQuery-2.2.4 js -->
<script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/bootstrap/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/bootstrap/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/bootstrap/js/active.js"></script>
</body>

<script>
    ClassicEditor
        .create(document.querySelector('#notice_cont'), {
            removePlugins: ['Heading'],
            language: "ko"
        })
        .then(editor => {
            $('style').append('.ck-content { height: 400px; }');
            let objEditor = editor;

            editor.model.document.on('change:data', () => {
                $('#notice_cont').val(editor.getData());
            }, {priority: 'high'});
        })
        .catch(error => {
            console.error(error);
        });
</script>

</html>