<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" action="/mModifyOk">
    <input type="hidden" name="member_key" th:value="${session.mDTO.member_key}">
    <span style="font-size: 20px; font-weight: bold;">회원 정보 수정</span>
    <table>
        <tr>
            <th>회원 아이디</th>
            <td th:text="${session.mDTO.member_id}"></td>
        </tr>
        <tr>
            <th>회원 이름</th>
            <td>
                <input name="member_name" th:value="${session.mDTO.member_name}">
            </td>
        </tr>
        <tr>
            <th>회원 이름</th>
            <td>
                <input name="member_nickname" th:value="${session.mDTO.member_nickname}">
            </td>
        </tr>
        <tr>
            <th>휴대폰번호</th>
            <td>
                <input name="member_phone" th:value="${session.mDTO.member_phone}">
            </td>
        </tr>
        <tr>
            <th>이메일</th>
            <td>
                <input name="member_email" th:value="${session.mDTO.member_email}">
            </td>
        </tr>
        <tr>
            <th>생년월일</th>
            <td>
                <input type="date" name="member_birth" th:value="${session.mDTO.member_birth}">
            </td>
        </tr>
        <tr>
            <th>성별</th>
            <td>
                <input type="radio" name="member_gender" value="female" th:checked="${member_gender == 'female'}"> 여자&nbsp;
                <input type="radio" name="member_gender" value="male" th:checked="${member_gender == 'male'}"> 남자
            </td>
        </tr>
    </table>
    <div>
        <input type="submit" value="회원수정" onclick="return modify()">&nbsp;&nbsp;
        <input type="reset" value="다시작성">
    </div>
</form>
</body>
</html>