<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>ART ISSUE :: 마이페이지</title>

    <!-- Favicon -->
    <link rel="icon" href="/bootstrap/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bootstrap/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>

        .link-container{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-top: 10px;

        }

        .formLoc {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .formLoc img {
            margin-bottom: 30px;
        }

    </style>
</head>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div th:replace="~{include/header}"></div>

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/bootstrap/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>MY PAGE</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="new-hits-area mb-100">
                    <div sec:authorize="isAuthenticated() and hasRole('COMPANY')"  class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/company/exList">내 전시회</a>
                    </div>
                    <div sec:authorize="isAuthenticated() and hasRole('COMPANY')"  class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/company/insert">전시회 등록</a>
                    </div>
                    <div sec:authorize="isAuthenticated() and hasRole('USER')"  class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userReserveList">예약리스트</a>
                    </div>
                    <div sec:authorize="isAuthenticated() and hasRole('USER')" class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userZZimList">찜리스트</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userMove">회원정보 수정</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userPwdUpdateMove">비밀번호 변경</a>
                    </div>
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp">
                        <a href="/userResign">회원탈퇴</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9" style="border: solid 1px #000000;">
                <hr>
                <th:block th:if="${userReserveList != null}">
                    <div th:each="userReserve:${userReserveList}">
                        <th:block th:if="${userReserve.reservation_buyer_view != 0}">
                            <div class="single-contact-info d-flex align-items-center">
                                <p class="mr-30">예약번호</p>
                                <p th:text="${userReserve.reservation_id}"></p>
                            </div>
                            <div class="single-contact-info d-flex align-items-center">
                                <p class="mr-30">전시회 이름</p>
                                <a style="margin-bottom: 1rem;" th:href="@{/userReserveCont(reservation_id=${userReserve.reservation_id})}"
                                   th:text="${userReserve.exhibition_title}">
                                </a>
                            </div>
                            <div class="single-contact-info d-flex align-items-center">
                                <p><img style="width: 100px; height: 120px;"
                                        th:src="@{${userReserve.exhibition_thumnail}}" alt="전시회 이미지"></p>
                            </div>
                            <div class="single-contact-info d-flex align-items-center">
                                <p class="mr-30">결제날짜</p>
                                <p th:text="${userReserve.reservation_date}"></p>
                            </div>
                            <input class="btn oneMusic-btn mt-30" type="button" value="내역삭제"
                                   th:data-reservation-id="${userReserve.reservation_id}"
                                   onclick="deleteReservation(this)">
                            <hr>
                        </th:block>

                    </div>
                </th:block>
                <th:block>
                    <div class="formLoc">
                        <p class="mr-30">아직 예매한 전시회가 없어요...</p>
                    </div>
                </th:block>

            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->




<div th:replace="~{include/footer}"></div>
<!-- jQuery-2.2.4 js -->
<script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/bootstrap/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/bootstrap/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/bootstrap/js/active.js"></script>

<script src="/js/reservation/reserveDelete.js"></script>
</body>


</html>