<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ART ISSUE :: 결제</title>

    <link rel="stylesheet" href="/bootstrap/style.css">

    <script src="https://js.tosspayments.com/v1/payment"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const paymentForm = document.getElementById('paymentForm');
            const clientKey = paymentForm.dataset.clientKey;

            function requestPayment() {
                const tossPayments = TossPayments(clientKey);
                const amount = document.getElementById('amount').value;
                const orderId = document.getElementById('orderId').value;
                const orderName = document.getElementById('orderName').value;

                const successUrl = window.location.origin + '/payment/success-redirect';
                const failUrl = window.location.origin + '/payment/fail';

                tossPayments.requestPayment('카드', {
                    amount: amount,
                    orderId: orderId,
                    orderName: orderName,
                    successUrl: successUrl,
                    failUrl: failUrl
                }).catch(function (error) {
                    console.error('결제 요청 오류:', error);
                    alert('결제 요청 중 오류가 발생했습니다. 콘솔 로그를 확인해주세요.');
                });
            }

            document.getElementById('payButton').addEventListener('click', requestPayment);


        });
    </script>
</head>
<body>    <!-- Preloader -->
<section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img" style="background-image: url(/bootstrap/img/bg-img/bg-2.jpg); padding: 0;">
    <div class="section-heading white wow fadeInUp" data-wow-delay="100ms" style="margin: 0;">
        <p>See what’s new</p>
        <h2>RESERVATION</h2>
    </div>
</section>
    <form class="ml-30" id="paymentForm" th:data-client-key="${clientKey}">
        <table>
            <tr>
                <th>전시회</th>
                <td>
                    <input class="form-control" type="text" id="orderName" name="orderName" th:value="${exhiDTO.getExhibition_title()}" readonly/>
                </td>
            </tr>
            <tr>
                <th>주문번호</th>
                <td>
                    <input class="form-control" type="text" id="orderId" name="orderId" th:value="${reserveList[0].getReservation_id()}" readonly/>
                </td>
            </tr>
            <tr>
                <th>예매자</th>
                <td>
                    <input class="form-control" type="text" th:value="${session.mDTO.member_name}" readonly/>
                </td>
            </tr>
            <tr>
                <th>연락처</th>
                <td>
                    <input class="form-control" type="text" th:value="${session.mDTO.member_phone}" readonly/>
                </td>
            </tr>
            <tr>
                <th>결제금액</th>
                <td>
                    <input class="form-control" type="text" id="amount" name="amount" th:value="${totalPrice}" readonly/>
                </td>
            </tr>
            <tr>
                <th>취소기한</th>
                <td>
                    <input type="hidden" id="endDate" th:value="${#dates.format(exhiDTO.getExhibition_end_date(), 'yyyy-MM-dd')}" readonly/>
                    <input class="form-control" id="cancelDate" readonly/>
                </td>
            </tr>
        </table>
        <input type="hidden" id="successUrl" name="successUrl" th:value="@{/payment/success-redirect}"/>
        <input type="hidden" id="failUrl" name="failUrl" th:value="@{/payment/fail}"/>
        <button class="btn oneMusic-btn" type="button" id="payButton">결제</button>
    </form>

<!-- jQuery-2.2.4 js -->
<script src="/bootstrap/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/bootstrap/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/bootstrap/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/bootstrap/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/bootstrap/js/active.js"></script>

<script src="/js/tosspay/payment.js"></script>

</body>
</html>
