<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ART ISSUE :: 결제</title>
    <script src="https://js.tosspayments.com/v1/payment"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const paymentForm = document.getElementById('paymentForm');
            const clientKey = paymentForm.dataset.clientKey;

            function requestPayment() {
                const tossPayments = TossPayments(clientKey);
                const amount = document.getElementById('amount').value;
                const orderId = document.getElementById('orderId').value;
                const orderName = document.getElementById('orderName').value;

                const successUrl = window.location.origin + '/payment/success-redirect';
                const failUrl = window.location.origin + '/payment/fail';

                tossPayments.requestPayment('카드', {
                    amount: amount,
                    orderId: orderId,
                    orderName: orderName,
                    successUrl: successUrl,
                    failUrl: failUrl
                }).catch(function (error) {
                    console.error('결제 요청 오류:', error);
                    alert('결제 요청 중 오류가 발생했습니다. 콘솔 로그를 확인해주세요.');
                });
            }

            document.getElementById('payButton').addEventListener('click', requestPayment);


        });
    </script>
</head>
<body>    <!-- Preloader -->

<h1>결제 폼</h1>
<form id="paymentForm" th:data-client-key="${clientKey}">
    <ul>
        <li>
            주문번호 : <input type="text" id="orderId" name="orderId" th:value="${reserveList[0].getReservation_id()}" readonly/>
        </li>
        <li>
            결제금액 : <input type="text" id="amount" name="amount" th:value="${totalPrice}"/>
        </li>
        <li>
            전시회 이름 : <input type="text" id="orderName" name="orderName" th:value="${exhiDTO.getExhibition_title()}"/>
        </li>
            <input type="hidden" id="successUrl" name="successUrl" th:value="@{/payment/success-redirect}"/>
            <input type="hidden" id="failUrl" name="failUrl" th:value="@{/payment/fail}"/>
        <li>
            <button type="button" id="payButton">결제</button>
        </li>
    </ul>
</form>

</body>
</html>
